@model Hotel

@{
    ViewData["Title"] = "User List";
}

<h2>Hotel @Model.Name</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Category</th>
            <th>Capacity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Location</td>
            <td>@Model.Category</td>
            <td>@Model.Capacity</td>
            <td><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a></td>
            <td><a asp-action="Delete" asp-route-id="@Model.Id">Delete</a></td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
