@model List<Hotel>

@{
    ViewData["Title"] = "Hotel List";
}

<h2>Hotel List - <a asp-action="Create">Create</a></h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Category</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@hotel.Id">@hotel.Name</a></td>
                <td>@hotel.Location</td>
                <td>@hotel.Category</td>
                <td>@hotel.Capacity</td>
                <td><a asp-action="Edit" asp-route-id="@hotel.Id">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@hotel.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
